#root {
  color: white;
  background-color: teal;
  font-size: 16px;
}
.input-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.input-detail input {
  width: 240px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 12px;
}
.add-button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: teal;
  font-size: 13px;
  font-weight: 700;
}
.todo-list {
  padding: 0px 24px;
}
h2 {
  margin: 0.8em 0px;
  font-size: 1.5em;
  font-weight: bold;
}
.not-done {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.done {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.box {
  border: 4px solid teal;
  border-radius: 10px;
  padding: 12px 24px 24px 24px;
  width: 330px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.delete-button {
  border: 2px solid red;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  font-size: 13px;
  cursor: pointer;
}
.success-button {
  border: 2px solid green;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  font-size: 13px;
  cursor: pointer;
}
.buttons {
  gap: 10px;
  margin-top: 24px;
  display: flex;
}
.red {
  border: 3px solid red;
  background-color: #eee;
}
.link {
  text-decoration: none;
  color: teal;
  display: flex;
  justify-content: right;
}
.detail-box {
  border: 2px solid rgb(238, 238, 238);
  border-radius: 10px;
  padding: 12px 24px 24px 24px;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 130px auto 0px auto;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.detail-box button {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 120px;
  height: 40px;
  border: 2px solid rgb(238, 238, 238);
  cursor: pointer;
}
